body{
    width: 1020px;
    height: 890px;
    background-color: black; 
    color:white;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 设置最小高度为视口高度 */

}
    h1{font-size: 72px;
    margin-top: 30px;
    margin-left: 30px;
    }
    h2{
    font-size: 45px;
    margin-left: 30px;
    }
    h3{
    font-size: 30px;
    margin-left: 30px;
    }
    h4{
    font-size: 28px;
    margin-left: 30px;
    }
    h5{
    font-size: 24px;
    margin-left: 30px;
    }
    p{
    font-size: 20px;
    margin-left: 30px;
    }
    /*侧边栏样式*/
    #sidebar {
        position: fixed;
        top: 100;
        right: 10px;
        width: 300px;
        height: auto;
        background-color: transparent;
        border: none;
        padding: 10px;
        font-size: 24px;
        }
        #sidebar ul {
        list-style-type: none;
        padding: 0;
        }
    
        #sidebar li {
        margin-bottom: 10px;
        }
    
        #sidebar a {
        text-decoration: none;
        color: white;
        }
    
        #sidebar a:hover {
        color: #4c4c4d;
        }
        /*代碼*/
        pre{
            background-color: #222222;
            padding: 60px;
          }
          code{
            font-size: 12px;
            color: white;
          }